

@media (min-width: 480px) {
  div#top.style-scope.ytd-watch>div#player.style-scope.ytd-watch {
    max-height: calc(100vh);
  }
  /* div#content>div#masthead-container.style-scope.ytd-app {
    display: none;
  } */
  div#content>ytd-page-manager#page-manager.style-scope.ytd-app {
    margin-top: 0px;
  }
}





/* @media (min-width: 480px) {
  div#top.style-scope.ytd-watch>div#player.style-scope.ytd-watch {
    max-height: calc(100vh - 56px);
  }
  div#content>div#masthead-container.style-scope.ytd-app {
    display: block;
  }
  div#content>ytd-page-manager#page-manager.style-scope.ytd-app {
    margin-top: 56px;
  }
}
 */
